// NOTE: Long HMR recompile time

// Globals (Vuetify Variables)
$font-size-root: 16px;
$body-font-family: "Roboto",
sans-serif;

// Theme specific
$primary: #9C97FF;
$primary300: #8D96B8;

$secondary: #47d155;
$secondary700: #35a340;

$dark: #23242b;
$darker: #1a1c20;

$steam: #171a21;
$danger: #ec6161;
$warning: #ffd255;
$info: #3498db;
$success: #96DA9F;
$stattrak: #cf6a32;

$whiteish: #F3F3F3;

$gold: #ffbc03;
$info: #2196f3;

$grey100: #777D9A;
$grey300: #404E60;
$grey400: #475264;
$grey500: #2E3B49;
$grey700: #2d3947;
$grey800: #2e353f;
$grey900: #232D38;

$light: #777;

$text: #efefef;
$text-invert: #222;

$body-background-color: $text-invert;
